@tailwind base;
@tailwind components;
@tailwind utilities;

.gideon-roman-regular {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('/fonts/ComputerModern-Regular.woff2') format('woff2'),
         url('/fonts/ComputerModern-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
.active hr{
@apply block
}

::-webkit-scrollbar{
    @apply hidden
}

@media (max-width:740px){
    .active p{
        @apply text-white bg-primary
    }
}